* {
    box-sizing: border-box;
}

.row_content {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.rowlink {
    text-align: center;
    padding-top: 20px;
    color: #518bc0;
}

.row_header {
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
    color: #92908d;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.row_footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #555555;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-2 {
    background-color: #f1f1f1;
}

.col-8 {
    padding-left: 10px;
    padding-right: 10px;
}

.ADS {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: solid #efefef;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}