.boxmodel{
    margin-left: 5%;
   border: solid 10px;
    border-color: chartreuse aqua blue blueviolet;
    width: 800px;
    padding: 10px;
}
.boxmodel p{
    border: 3px dotted darkred;
    padding: 10px;
}
#b1{
   margin-bottom: 20px;
}
#b2{
    margin-bottom: 40px;
}
#b3{
    margin-bottom: 60px;
}